* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgba(15, 15, 15, 0.927) !important;
    margin: 3.7rem auto !important;
    text-align: center !important;
  
   
}
.container {
    /* border: 2px solid red; */

}
.container h1 {
    margin-bottom: 3rem;
    font-size: 50px;
    color: #fff;
}

.div {
    display: flex;
    justify-content: center;
   

}
#input {
    flex: 0.5 0 0%;
    padding: 0.37rem 0.5rem;
    outline: none;
    transform: translate(11%, -50%);
    border-radius: 15px;
    padding-left: 1rem;
    
}

#button {
    flex: 0.1 0 0%;
 
    outline: none;
    border: none;
    background: none;
    position: relative;
    right: 23px;
    top: -18px;
   
}
#button i {
    font-size:1rem;
    color:brown;
   
}

::placeholder {
    color: brown;
    
}

#card {
    box-shadow: 3px 3px 10px rgba(164, 155, 155, 0.927) !important;
    transition: 1s ease-in-out;
}
#card img {
    box-shadow: 5px 5px 10px rgba(164, 155, 155, 0.927);
}
#card:hover {
    transform: scale(0.97);
}

.card-title {
    text-shadow: 3px 5px 8px rgba(255, 95, 95, 0.927);
}